<div class="row" style="padding: 15px">
  <form role="search">

  {% if results %}
  <img src="{{ url_for('static', filename='images/brewmaster.png') }}"
      class="img-responsive" width="60px" height="60px" style="display: inline-block; float: left;">
  <div class="col-md-6 input-group">
  {% else %}
  <div class="col-md-6 col-md-offset-3 input-group">
  {% endif %}

      {% if results and results.search_term %}
      <input type="text" class="autocomplete form-control" name="search_term"
             placeholder="Enter beer or brand name" value="{{ results.search_term }}">
      {% else %}
      <input type="text" class="autocomplete form-control" name="search_term" placeholder="Enter beer or brand name">
      {% endif %}
      <div class="input-group-btn">
        <button type="submit" id="search" class="btn btn-default">Search</button>
      </div>
    </div>
  </div>

  </form>
</div>

