{% if not results %}
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <img src="{{ url_for('static', filename='images/brewmaster.png') }}"
         class="img-responsive"/>
  </div>
</div>
{% endif %}

<div class="row" style="margin-top: 15px">
  <form class="row" role="search">

  {% if results %}
  <img src="{{ url_for('static', filename='images/brewmaster.png') }}"
      class="img-responsive" width="60px" height="60px" style="display: inline-block; float: left;"/>
  <div class="col-md-6 input-group">
    {% else %}
    <div class="col-md-6 col-md-offset-3 input-group">
      {% endif %}

      {% if results and results.search_term %}
      <input type="text" class="autocomplete form-control" name="search_term"
             placeholder="Enter beer or brand name" value="{{ results.search_term }}">
      {% else %}
      <input type="text" class="autocomplete form-control" name="search_term" placeholder="Enter beer or brand name">
      {% endif %}
      <div class="input-group-btn">
        <button type="submit" id="search" class="btn btn-default">Search</button>
      </div>
    </div>

    </form>
</div>

{% if not results %}
<!-- Instructions well -->
<div class="row" style="margin: 10px 0px 10px 0px;">
  <div class="col-md-6 col-md-offset-3 well well-lg">
    <div class="center-block">
      <h1 class="lead text-center">
        Tired of that same old beer! Want to mix it up?
      </h1>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-10 col-md-offset-1">
            <ol>
              <li>
                <h4>Enter a beer or brand name that you like.</h4>
              </li>
              <li>
                <h4>Get back a list of beers that you'll love!</h4>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
