{% if results %}
<div class="col-md-10">
  {% if results.beers == results.not_found %}
  <div class="col-md-10">
    <p>{{ results.not_found }}</p>
  </div>
  {% elif results.beers == results.no_similar_beers %}
  <div class="col-md-10">
    <p>{{ results.no_similar_beers }}</p>
  </div>
  {% else %}

  {% for beer in results.beers %}
  {% if beer.name.lower() != results.search_term.lower() %}
  <div class="row" style="padding-top: 5%;">
    <div class="col-md-4">{{ beer.name }} </div>

    {% if beer.style and beer.style.name %}
      <div class="col-md-4">{{ beer.style.name }}</div>
    {% endif %}

    {% if beer.abv %}
      <div class="col-md-1">{{ beer.abv }}%</div>
    {% endif %}

    {% if beer.ibu %}
      <div class="col-md-1">{{ beer.ibu }}</div>
    {% endif %}
  </div>
  <div class="row">
    <!-- beer image -->
    <div class="col-md-1">
      {% if 'labels' in beer %}
      <img src="{{ beer.labels.icon }}"/>
      {% else %}
      <img src="{{ url_for('static', filename='images/favicon.ico') }}"
           width="60px" height="60px"/>
      {% endif %}
    </div>
    <div class="col-md-9">{{ beer.description }}</div>
    {% endif %}
  </div>
  {% endfor %}
  {% endif %}
</div>
{% endif %}
