{% if results %}
<table class="table-responsive" style="padding: 30px;">
  {% if results.beers == results.not_found %}
    <tr class="col-sm-10">
      <td>{{ results.not_found }}</td>
    </tr>
  {% elif results.beers == results.no_similar_beers %}
    <tr class="col-sm-10">
      <td>{{ results.no_similar_beers }}</td>
    </tr>
  {% else %}
    {% for beer in results.beers %}
    <tr>
      {% if beer.name.lower() != results.search_term.lower() %}
        <td>
          {% if 'labels' in beer %}
            <img src="{{ beer.labels.icon }}"/>
          {% endif %}
        </td>
        <td>
          <div>{{ beer.name }}</div>
        </td>
        <td>
          <div>{{ beer.description }}</div>
        </td>
      {% endif %}
    </tr>
    {% endfor %}
  {% endif %}
</table>
{% endif %}
