<div class="row" style="padding: 5px 5px;">
  <div class="col-md-6 col-md-offset-3 well well-sm">
    <div class="center-block">
      <h3 class="text-center">
        Tired of that same old beer! Want to mix it up?
      </h3>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-10 col-md-offset-1">
            <ol>
              <li>
                <h4>Enter a beer or brand name that you like.</h4>
              </li>
              <li>
                <h4>Get back a list of beers that you'll love!</h4>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
