{% extends "layout/base.html" %}

{% block content %}
  <div class="container">
    {% include "include/search_bar.html" %}
    {% include "include/table.html" %}
  </div>
{% endblock %}

{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}

{% block scripts %}
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/jquery-ui/jquery-ui.css') }}">
  <script src="{{ url_for('static', filename='vendor/jquery-ui/jquery-ui.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/autocomplete.js') }}"></script>
{% endblock %}
